
#CCA, #DBC, #DDB, #B_STATE, #D_STATE, #PAYMENT_TABLE, #CCA2, #DBC2, #GPY, #DSK, #IDL, #SUB{
	visibility:hidden;
	display:none;
	padding:0px;
	margin:0px;
}

#OPC,#BIL{
	display:none;
}

#B_STATE, #D_STATE, #VAT{
	visibility:visible;
	display:none;
}
