<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!-- couches applicatives -->
    <bean id="daoVente" class="ca.etsmtl.gti525.dao.vente.DaoJpaVente" />
    <bean id="daoPresentation" class="ca.etsmtl.gti525.dao.presentation.DaoJpaPresentation" />
 
  
    <!-- Couche AOP pour gestion des logs -->  
    <bean id="loggerInterceptorBeanAdvice" class="ca.etsmtl.gti525.commun.aop.LoggerInterceptor" />
    <bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="daoPresentation" />
		
        <property name="interceptorNames">
            <list>
                <value>customerAdvisor</value>
            </list>
        </property>
    </bean>
	
    <bean id="customerAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="patterns">
            <list>
                <value>.*getAllArtistes.*</value>
                <value>.*getAllSpectacle.*</value>
                <value>.*getAllRepresentation.*</value>
            </list>
        </property>

        <property name="advice" ref="loggerInterceptorBeanAdvice" />
    </bean> 
       
       
    <!-- EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="e-ticket-jpa-hibernate-postgresPU"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- la source de donnéees DBCP -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">     
        <property name="driverClassName" value="org.postgresql.Driver"/> 
        <property name="url" value="jdbc:postgresql://localhost:5432/e-ticket"/>
        <property name="username" value="postgres"/>
        <property name="password" value="admin"/>                    
    </bean>

    <!-- Data source pour MySql -->
<!--    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/dbrdvmedecins2" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>-->

    <!-- le gestionnaire de transactions -->
    <tx:annotation-driven transaction-manager="txManager" />
    <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <!-- traduction des exceptions -->
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

    <!-- persistence -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />        
    
</beans>
