<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

<!--

        The "host" parameter allows configuration of the host name that will
        be used for the listening socket for network connections. By default,
        the Network Server will listen to requests only on the loopback
        address, which means that it will only accept connections from the
        local host. Changing this value could expose the server to
        external connections, which raises security concerns, so before using
        the "host" parameter, you should run under the Java security
        manager and enable user authentication.
        
        -->    
    
    <display-name>Apache Derby Network Server</display-name>
    <description>Apache Network Server Administration</description>
    <servlet>
        <servlet-name>derbynet</servlet-name>
        <servlet-class>org.apache.derby.drda.NetServlet</servlet-class>
        <init-param>
            <param-name>startNetworkServerOnInit</param-name>
            <param-value>true</param-value>
            <!--<description> Starts the Network Server at servlet initialization if 'true'. </description>-->
        </init-param>
        <init-param>
            <param-name>portNumber</param-name>
            <param-value>1527</param-value>
            <!--<description>Port number to use. The default is 1527.</description>-->
        </init-param>

        <init-param>
            <param-name>host</param-name>
            <param-value>localhost</param-value>
            <!--<description>Host Name to use. The default is "localhost". Please secure any server which listens on a public address.</description>-->
        </init-param>
        <init-param>
            <param-name>tracingDirectory</param-name>
            <param-value/>
            <!--<description>Directory where trace files should be placed.</description>-->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>derbynet</servlet-name>
        <url-pattern>/derbynet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/derbynet</welcome-file>
    </welcome-file-list>    
    
</web-app>
